<br>
<br>
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <img src="./assets/img/walterk.jpg" alt="Walter Kuijlaars" />
    </div>

    <div id="name">
      <h1 class="quickFade delayTwo">Walter Kuijlaars</h1>
      <h2 class="quickFade delayThree">IT consultant</h2>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li><a href="mailto:walter.kuijlaars@infosupport.com" target="_blank">walter.kuijlaars@infosupport.com</a></li>
        <li><a href="https://www.linkedin.com/in/walter-kuijlaars-a82616113/">www.linkedin.com</a></li>
        <li>+316 3199 9959</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Profiel</h1>
        </div>

        <div class="sectionContent">
          <p>Interesses: Programmeren, software architectuur en machine learning.
            Kwaliteiten: Communiceren, structuur aanbrengen en overzicht bewaren.
            Persoonlijkheid: Aanpassend, gemiddelde extraversie en een aanpakker.
            Kenmerken: Praktische insteek, schenkt gemakkelijk vertrouwen en sterke betrokkenheid.
            (gebaseerd op Talent Match van PiCompany)</p>
        </div>
      </article>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Ervaring</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>IT consultant bij Info Support</h2>
          <p class="subDetails">September 2018 - Heden</p>
          <p>De eerste vijf maanden heb ik hier stage gelopen en de "Animal Health Prediction" opdracht uitgevoerd.
            Hiermee ben ik cum laude afgestudeerd en heb ik de Fontys scriptieprijs gewonnen.</p>
        </article>

        <article>
          <h2>Software engineer bij TANS</h2>
          <p class="subDetails">Februari 2017 - September 2018</p>
          <p>Hier heb ik mijn eerste stage gelopen, softwarebijbaan gehad en voor het eerst een product voor een klant
            gemaakt. Ook heb ik programmeer bijles gegeven in Java.</p>
        </article>

        <article>
          <h2>Shiftrunner bij Domino's</h2>
          <p class="subDetails">Oktober 2014 - Februari 2017</p>
          <p>Verantwoordelijk voor de winkel, het team en de klanten.</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Talen</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>.NET Core</li>
          <li>WPF</li>
          <li>Xamarin</li>
          <li>Java</li>
          <li>Python</li>
          <li>Angular2+</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Opleiding</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Fontys Hogescholen ICT</h2>
          <p>Cum laude Bachelor HBO-ICT Software, minor: Applied data science. Scriptieprijs Fontys.</p>
        </article>

        <article>
          <h2>Maurick College Vught</h2>
          <p>Havo Natuur & Techniek.</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Cursussen</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h3>Building Professional Single Page Applications with Angular</h3>
        </article>
        <article>
          <h3>ECMAScript 2015 en 2016 (ES6 -ES7): What's New in de volgende versie van JavaScript</h3>
        </article>
        <article>
          <h3>Docker Essentials</h3>
        </article>
        <article>
          <h3>Continuous Delivery with .NET</h3>
        </article>
        <article>
          <h3>Git for Developers</h3>
        </article>
        <article>
          <h3>Advanced Unit Testing with .NET</h3>
        </article>
        <article>
          <h3>LINQ: .NET Language-Integrated Query</h3>
        </article>
        <article>
          <h3>Continuous Delivery Using Azure DevOps Services</h3>
        </article>
        <article>
          <h3>Secure Programming Foundation</h3>
        </article>
        <article>
          <h3>Developing Data Access Solutions with Microsoft Visual Studio</h3>
        </article>
        <article>
          <h3>Training Multithreading, Parallel Programming and Asynchronous Programming in C# .NET</h3>
        </article>
        <article>
          <h3>Windows Infrastructure for Developers</h3>
        </article>
      </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-3753241-1");
  pageTracker._initData();
  pageTracker._trackPageview();
</script>